<form onsubmit="return enviarMensaje(this)">
    <label for="email">E-mail</label>
    <input type="text" name="email" id="email">
    <label for="mensaje">Mensaje</label>
    <input type="text" name="mensaje" id="mensaje">
    <input type="submit" value="Enviar">
</form>
<div id="messageBox">

</div>