html
    head
        title Formulario
    body 
        h1 Formulario
        form(action="/productos" method="POST")
            label(for="title") Nombre:
            input(type="text" name="title")
            br
            br
            label(for="price") Precio:
            input(type="number" name="price")
            br
            br
            label(for="thumbnail") foto URL:
            input(type="text" name="thumbnail")
            br
            br
            input(type="submit" value="Enviar")
        a(href="/productos") Ver Productos